body {
	background-color: grey;
	background-image: url("../pattern2.png");
        background-repeat: repeat;
        background-position: bottom right;
        background-attachment: fixed;	
}
.main {
	position: relative;
	color: black;
}
.welcome_message {
	height: 10em;
	padding: 1em;
	margin-left: -1em;
	position: absolute;
	top: 15%;
	left: 60%;
	margin-right: -60%;
}

h1 {
	color: white;
}
h3 {
	position: absolute;
	margin-left: 1em;
	margin-top: 0%;
	border-top: 0%;
	padding-top 0%;
	top: 35%
	padding: 5em;
}
h4 {
	text-alignment: center;
	text-decoration: bold;
	margin-bottom: 1em;
}
li {
	text-align: center;
	list-style-type: none;
	margin-top: .5em;

}
li {
	background-color: grey;
	border-radius: 1em;
	border: 10em;
}
li:hover {
	background-color: white;
}
.links {
	position: absolute;
	margin-top: 10%;
	left: 60%;
	margin-right: -60%;

	
}
a:link {
	color: black;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:visited {
	color: black;
	text-decoration: none;
}
ul:hover {
	color: red;
}

